<div *ngIf="!startGame && !endGame" class="game-wrapper">
  <div class="game-in-wrapper d-flex justify-content-center">
    <form name="game">
      <label class="font-weight-bold">Name:</label><br>
      <input name="name" type="text" class="pl-1" (focusin)="reinitialize()" placeholder="Enter your name" /><br>
      <p *ngIf="noName">***How do I know you without your name?</p>
      <div class="btn-div">
        <button (click)="start()">Start Game</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="startGame && !endGame && showLevel" class="level-indicator">
  <p>Level {{level}}</p>
</div>
<div *ngIf="startGame && !endGame" class="game-out-wrapper">
  <div class="d-flex header">
    <div class="elevate">
      <p class="ml-2 mb-0 font-weight-bold">Level {{level}}</p>
      <p class="ml-2 font-weight-bold">Lives <img *ngFor="let life of lives" style="width:30px"
          src="../assets/red_heart_312695_adobespark.png"></p>
    </div>
    <div class="elevate">
      <p class="mr-2 font-weight-bold">Score {{score}}</p>
    </div>
  </div>
  <div *ngIf="enableArrows" class="footer">
    <div class="d-flex adjust-footer">
      <div (click)="trigger('left')" style="height:20vh;width:10vw"> 
        <img src="../assets/tr2_adobespark.png" width="100%" height="100%">
      </div>
      <div (click)="trigger('right')" style="height:20vh;width:10vw" class="rototor"> 
        <img src="../assets/tr2_adobespark.png" width="100%" height="100%">
      </div>
    </div>
  </div>
  <div class="game-board">
    <div>
      <table>
        <tr *ngFor="let height of verticalSquares; let rowIndex = index">
          <td *ngFor="let width of HorizontalSquares; let colIndex = index" id="box-{{ rowIndex+1 }}-{{ colIndex+1 }}"
            style="height:5vh;width:10vw" class="table-item"><img id="img-{{ rowIndex+1 }}-{{ colIndex+1 }}"
              class="image" src="../assets/download_adobespark.png" alt="" height=100% width=25%></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="game-basket">
    <div>
      <table>
        <tr>
          <td *ngFor="let width of HorizontalSquares; let colIndex = index"
            id="basket-box-{{ rowIndex+1 }}-{{ colIndex+1 }}" style="height:20vh;width:10vw" class="table-item"><img
              *ngIf="colIndex !=4" id="basket-img-1-{{ colIndex+1 }}" class="image"
              src="../assets/download_adobespark.png" alt="" height=100% width=100%>
            <img *ngIf="colIndex ==4" id="basket-img-1-{{ colIndex+1 }}" class="image"
              src="../assets/basket.png" alt="" height=100% width=100%>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>

<div *ngIf="endGame" class="end-game">
  <div class="game-end-wrapper d-flex justify-content-center">
    <div class="game-end-title ">
      <h1 class="text-center">Game Over</h1>
      <p class="text-center mb-0">{{name}}!!! You have scored {{score}}</p>
      <div class=" view text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          View Scoreboard
        </button>
      </div>
      <div class="btn-div">
        <button (click)="reload()">Play Again</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title my-auto" id="exampleModalLongTitle">Score Board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <th>Name</th>
            <th>Highest Score</th>
          </tr>
          <tr *ngFor="let item of scoreBoard">
            <td>{{item.name}}</td>
            <td>{{item.value}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>